* {
  margin: 0;
  font-family: 'Inter';;

}


.footer{
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    /* Altura do footer */
    background-color: #333;
    color: white;
    text-align: center;
}


.footer-content{
  bottom: 0%;
}
.footer-container{
  font-size: 24px;
  height: 80px;
  background: #004976;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.square{
  background: #003556;
  height: 30px;
  width: 30px;
  
}
#footer-block{
  width: 100%;
  flex-direction: column;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: #004976;
}
#footer-block ul{
  text-decoration: underline;
  font-weight: bold;
  padding: 0;
}
#footer-block li:nth-child(2){
  cursor:  pointer;
}
#footer-block li:nth-child(3){
  cursor: pointer;
}
#footer-block li{
  margin-right: 100px;
  display: inline;
}
#footer-block span{
  background: #ffff;
  height: 2px;
  width: 900px;
  border-radius: 25px;
  display: block;
}
.under-container{

  width: 100%;
  background: #003556;
  color: #fff;
  height: 200px;
  justify-content:space-around;
  display: flex;
  align-items: center;
  flex-direction: row;

}
.content-1{

  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width:fit-content;
  min-width:204px ;
  text-align: center;
}
.content-2{

  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 20%;
  text-align: center;
}
.content-3{
  
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 20%;
  text-align: center;
}
.content-3 p:nth-child(4){
  color: #FF577C;
  cursor: pointer;
  transition: 0.3s ease;
}
.content-3 p:nth-child(4):hover{
  text-decoration: underline;
}
.content-3 p:nth-child(3){
  cursor: pointer;
  transition: 0.3s ease;
}
.content-3 p:nth-child(3):hover{
  text-decoration: underline;
}
.content-3 p:nth-child(2){
  cursor: pointer;
  transition: 0.3s ease;
}
.content-3 p:nth-child(2):hover{
  text-decoration: underline;
}
.content-3 p:nth-child(1){
  cursor: pointer;
  transition: 0.3s ease;
}
.content-3 p:nth-child(1):hover{
  text-decoration: underline;
}
.circle-bg{
  max-height: 200px;
  display: flex;
  width: 25%;
  height: 100%;
  position: relative;
}
.circle-black {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
  left: -310px; 
  bottom: -50px;
}

.circle-green {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #47D7AC; 
  border-radius: 50%;
  z-index: 1;
  left: -180px;
  bottom: -50px;
}