

* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
}

.navbar {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    gap: 40px;
    background-color: #0C111B;
    color: white;
}

.logo_img {
    max-height: 50px;
}

.op{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px ;
    width: 240px;
    font-size: 12px;
    border-radius: 4px;
    transition:  0.5s ease;
}
.op a{
    text-decoration: none;
    outline: none;
    color: white;
    font-size: 15px ;
}

.op:hover{
    background: #47d7ac;
}
.off-screen-menu{
        background-color: #29303E;
        height: 60vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
        font-size: 20px;
        transition: .3s ease;
        border-bottom-left-radius:4px ;
        border-bottom-right-radius:4px ;
}



.off-screen-menu.active{
    right: 0;
}
 
.ham-menu{
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
    top: 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.ham-menu span{
    height: 3px;
    width: 100%;
    background-color: #ffff;
    border-radius: 25px;
    position: absolute;
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(2) {
    top: 50%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.ham-menu.active {
    transition: 0.3s ease;
    transform: translateX(175px); /* Move o "X" para a direita */
    left: 0;
}

.menu-list {
    margin: 0;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Para empilhar os itens verticalmente */
    align-items: center;
    justify-content: center;
}
.uop {
    background: #FF577C;
    color: #ffff;
    height: 22px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

.uop:hover{
    background: #ffff;
    color: #0C111B;
}
.uoi{
    cursor: pointer;
    transition: 0.3s ease;
}
.uoi:hover{
    text-decoration: underline;
}
.uol{
    cursor:pointer;
    transition: 0.3s ease;
}
.uol:hover{
    text-decoration: underline;
}