/* Definindo estilo básico para o layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #007bff;
    color: white;
    padding: 0px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

/* Estilo do carrossel */
.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #007bff;
}

/* Estilo para as seções */
section {
    padding: 40px 0;
}

h2 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #007bff;
    width: 50px;
    margin-bottom: 20px;
}


/* Ajustes de layout para a container */
.container {
    max-width: 1200px;
    padding: 0 20px;
}

/* Estilo das seções principais */
.nossos-planos, .sobre-nos {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

.nossos-planos h2, .sobre-nos h2 {
    color: #007bff;
}

.nossos-planos p, .sobre-nos p {
    color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-inner img {
        height: 300px;
    }

    .container {
        padding: 0 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

}
p{
    margin: 0 !important;
}
