* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0E0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.login-box {
    width: 40%;
    background-color: #D1C4E9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    margin-bottom: 20px;
    color: #4A148C;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
    color: #4A148C;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-box a {
    color: #303F9F;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #303F9F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.right-box {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #1A237E;
    border-radius: 50%;
    top: -100px;
    right: -150px;
    z-index: -1;
}

.right-box::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #5C6BC0;
    border-radius: 50%;
    top: 150px;
    right: 50px;
    z-index: -2;
}

.right-box p {
    margin-left: 51%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center ;
}