body {
    text-align: center; /* Centraliza todo o texto do corpo */
}

h1, h2, h3, h4, h5, h6 {
    text-align: center; /* Centraliza os cabeçalhos */
}

footer {
    text-align: center; /* Centraliza o texto do rodapé */
}
